<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit your wallet</h1>
<br>
<form action="/wallet/edit" method="post">
    <label for="">Your new balance: </label>
    <input type="number" min="50" name="balance">

    <label for="">Your new goal: </label>
    <input type="number" name="goal" min="51">

    <button>Save </button>

</form>
    

</body>
</html>