<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piggy bank</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit your wallet</h1>
<br>
<form action="/wallet/edit" method="post">
    <label for="balance">Your new balance: </label>
    <input type="number" min="50" name="balance" id="balance">

    <label for="goal">Your new goal: </label>
    <input type="number" name="goal" min="51" id="goal">

    <button>Save </button>

</form>
<br>
    
    <a href="/" class="btn btn-primary">Return</a>

</body>
</html>