<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piggy bank</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <h1>My wallet</h1>
    



<br>
<br>
    <h2>Wallet number: <%= foundWallet.number %> </h2>
    <h2>Wallet balance: <%= foundWallet.balance %> </h2>
    <h2>profit: %0.05</h2>
    <h2>Wallet goal: <%= foundWallet.goal %> </h2>
    <br>
    <% if(userTransfer){userTransfer.forEach((one) => { %>
        <div>
            <%= one  %>
        </div>
   <% });} %>
</body>
<a href="/" class="btn btn-primary">Return to homepage</a>
<a href="/wallet/delete" class="btn btn-warning">Delete wallet</a>
<a href="/wallet/edit"  class="btn btn-secondary" >Edit wallet</a>
</html>