<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
</head>
<body>
    <h1>My wallet</h1>
<br>
<br>
    <h2>Wallet number: <%= foundWallet.number %> </h2>
    <h2>Wallet balance: <%= foundWallet.balance %> </h2>
    <h2>profit: %0.05</h2>
    <h2>Wallet goal: <%= foundWallet.goal %> </h2>
</body>
<a href="/">Return to homepage</a>
<a href="/wallet/delete">Delete wallet</a>
<a href="/wallet/edit">Edit wallet</a>
</html>